* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
}

#reset {
  padding-left: 15px;
  font-size: 12px;
}

#timer {
  padding-left: 15px;
}

.game__information {
  display: flex;
  flex-direction: row;
}

.game__header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-title {
  display: flex;
  justify-content: center;
}

.memory-game-grid {
  margin-top: 50px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-card {
  width: 60px;
  height: 100px;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.front-face {
  backface-visibility: hidden;
}

.back-face {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  padding-top: 50%;
}

i {
  font-size: 40px;
  backface-visibility: hidden;
}

.iconify {
  font-size: 40px;
  backface-visibility: hidden;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

a:hover,
#reset:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #8c00ff, 0 0 42px #a200ff;
  text-decoration: none;
  color: #fff;
}

.flip {
  transform: rotateY(180deg);
}

.fa-redo-alt {
  font-size: 15px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
}

.fa-check-circle {
  font-size: 35px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #0fa, 0 0 42px #0fa;
}

/* Modal Content/Box */
.modal-content {
  padding: 20px;
  border: 1px solid #888;
  z-index: 1;
  /* Sit on top */
  width: 40%;
  height: 50%;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.modal-content p {
  padding-top: 10px;
}

#myModal {
  position: absolute;
  left: 0;
  width: 500px;
  height: 300px;
  z-index: 2;
  /* Sit on top */
  width: 100%;
  height: 100%;
}

.animation-container {
  position: absolute;
  top: 300px;
  left: 5%;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: block;
  list-style: none;
  opacity: 0.5;
}

.animation-container li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: calc(-170px - 60vh);
}

.animation-container li:nth-child(1) {
  left: 25%;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
}

.animation-container li:nth-child(2) {
  left: 10%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.animation-container li:nth-child(3) {
  left: 40%;
  animation-delay: 0s;
  animation-duration: 15s;
}

.animation-container li:nth-child(4) {
  left: 35%;
  animation-delay: 0s;
  animation-duration: 15s;
  border-radius: 50%;
}

.animation-container li:nth-child(5) {
  left: 65%;
  animation-delay: 0s;
  animation-duration: 20s;
}

.animation-container li:nth-child(6) {
  left: 75%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.animation-container li:nth-child(7) {
  left: 35%;
  animation-delay: 0s;
  animation-duration: 30s;
}

.animation-container li:nth-child(8) {
  left: 50%;
  animation-delay: 0s;
  animation-duration: 35s;
}

.animation-container li:nth-child(9) {
  left: 20%;
  animation-delay: 0s;
  animation-duration: 40s;
}

.animation-container li:nth-child(10) {
  left: 85%;
  animation-delay: 0s;
  animation-duration: 45s;
}

.animation-container > li > .iconify {
  font-size: 40px;
  font-weight: bolder;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(720deg);
    opacity: 0.5;
  }
}
.neonText {
  color: #fff;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
}

.neonText:hover {
  background-color: #fff;
  opacity: 0.4;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
}

.match {
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa;
}

.neonMatch {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 42px #0fa, 0 0 82px #0fa;
}

.neonUnMatch {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 42px #d63f2b, 0 0 82px #d63f2b;
}

#moves {
  padding-right: 15px;
}

@media (min-width: 768px) {
  header {
    font-size: 25px;
  }

  #reset {
    font-size: 16px;
  }

  .memory-card {
    width: 100px;
    height: 140px;
  }
}
.fa-trophy {
  font-size: 25px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #e6a630, 0 0 42px #e6a630;
  padding-left: 10px;
}

.stars {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trophie-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}