* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #f1f1f1;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.memory-game-grid {
  position: absolute;
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 42%;
  height: 60%;
  padding-right: 60px;
  margin-right: 5%;
  grid-gap: 20px;
}

.memory-card {
  width: 90px;
  height: 130px;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.front-face {
  backface-visibility: hidden;
}

.back-face {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  padding-top: 50%;
}

i {
  font-size: 40px;
}

.iconify {
  font-size: 40px;
}

.flip {
  transform: rotateY(180deg);
}

button {
  border: 1px solid black;
  width: 90px;
  height: 50px;
  border-radius: 25%;
  display: flex;
  margin-right: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  z-index: 1;
  /* Sit on top */
  width: 100%;
  height: 100%;
  text-align: center;
}

#myModal {
  position: absolute;
  left: 0;
  width: 500px;
  height: 300px;
  z-index: 2;
  /* Sit on top */
  width: 100%;
  height: 100%;
}

header {
  display: grid;
  height: 100px;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: -1px;
}

#game-title {
  grid-column: 2/2;
}

#score {
  grid-row: 2/2;
  grid-column: -3/-2;
  margin-left: 90px;
  width: 160px;
  padding-left: 100px;
}

#timer {
  grid-row: 2/2;
  grid-column: -3/-3;
  width: 150px;
}

.animation-container {
  position: absolute;
  top: 300px;
  left: 5%;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: block;
  list-style: none;
  opacity: 0.5;
}

.animation-container li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: calc(-170px - 20vh);
}

.animation-container li:nth-child(1) {
  left: 25%;
  animation-delay: 0s;
  animation-duration: 20s;
  border-radius: 50%;
}

.animation-container li:nth-child(2) {
  left: 10%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.animation-container li:nth-child(3) {
  left: 40%;
  animation-delay: 0s;
  animation-duration: 15s;
}

.animation-container li:nth-child(4) {
  left: 35%;
  animation-delay: 0s;
  animation-duration: 15s;
  border-radius: 50%;
}

.animation-container li:nth-child(5) {
  left: 65%;
  animation-delay: 0s;
  animation-duration: 20s;
}

.animation-container li:nth-child(6) {
  left: 75%;
  animation-delay: 0s;
  animation-duration: 25s;
}

.animation-container li:nth-child(7) {
  left: 35%;
  animation-delay: 0s;
  animation-duration: 30s;
}

.animation-container li:nth-child(8) {
  left: 50%;
  animation-delay: 0s;
  animation-duration: 35s;
}

.animation-container li:nth-child(9) {
  left: 20%;
  animation-delay: 0s;
  animation-duration: 40s;
}

.animation-container li:nth-child(10) {
  left: 85%;
  animation-delay: 0s;
  animation-duration: 45s;
}

.animation-container > li > .iconify {
  font-size: 40px;
  font-weight: bolder;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-60vh) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(720deg);
    opacity: 0.5;
  }
}
.neonText {
  color: #fff;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
}

.neonText:hover {
  background-color: #fff;
  opacity: 0.4;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff;
}

.match {
  width: 90px;
  height: 130px;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa;
}

.neonMatch {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 42px #0fa, 0 0 82px #0fa;
}

.neonUnMatch {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 42px #d63f2b, 0 0 82px #d63f2b;
}

@media (max-width: 320px) {
  body {
    height: 15%;
    width: 15%;
  }

  .memory-game-grid {
    width: 15%;
    height: 20%;
    margin-top: 50%;
  }

  .memory-card {
    width: 50px;
    height: 90px;
  }
}
@media (max-width: 360px) {
  body {
    height: 5%;
    width: 5%;
  }

  .memory-card {
    width: 60px;
    height: 100px;
  }

  .memory-game-grid {
    width: 20%;
    height: 25%;
    margin-left: 50px;
    margin-top: 50%;
  }
}
@media (max-width: 375px) {
  body {
    height: 15%;
    width: 15%;
  }

  .memory-card {
    width: 65px;
    height: 105px;
  }

  .memory-game-grid {
    width: 20%;
    height: 25%;
    margin-left: 40px;
    margin-top: 50%;
  }
}
@media (max-width: 411px) {
  body {
    height: 25%;
    width: 25%;
  }

  .memory-card {
    width: 65px;
    height: 105px;
  }

  .memory-game-grid {
    width: 20%;
    height: 25%;
    margin-left: 40px;
    margin-top: 50%;
  }
}
@media (max-width: 414px) {
  body {
    height: 25%;
    width: 25%;
  }

  .memory-card {
    width: 65px;
    height: 105px;
  }

  .memory-game-grid {
    width: 20%;
    height: 25%;
    margin-left: 40px;
    margin-top: 50%;
  }
}